:root {
    --primary-color: #CC2732;
    --secondary-color: #CC6E27;
    --tertiary-color: #CCC127;
}

* {
    font-family: 'Roboto Condensed', sans-serif; 
}

h1,
h2 {
    font-family: 'Permanent Marker', cursive;
}
  
h1 {
    font-size: 40px;
    margin: 20px;
}
  
header {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    padding-top: 100px;
    padding-bottom: 80px;
}

li {
    display: inline;
    margin: 50px;
}

footer{
    position: fixed;
    bottom: 0px;
    width:100vw;
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#copyright {
    font-size: 10px;
    margin: 20px;
}

.mobileFeature {
    display: none;
    margin: 20px;
}

a {
    font-size: 30px;
}

a:link {
    color: var(--secondary-color);
    text-decoration: none;
    position: relative;
}

a:visited {
    color: var(--tertiary-color);
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active {
    font-size: 32px;
}


@media (max-width: 500px) {
    li {
        display: inline;
        margin: 20px;
    }

    .mobileFeature {
        display: flex;
    }
}